<!-- Format for book chapters -->
{{ if eq .Type "book-chapter" }}

  {{ $count := sub (len .Authors) 1 }}

  {{ range $index, $element := .Authors }}
    {{ $element.last }},
    {{range split $element.first " " }}
      {{slicestr . 0 1 -}}
        .
      {{ end }}
      {{ if eq $index $count }}
      {{ else if eq $index (sub $count 1) }}
        &
      {{ else }},{{ end }}
  {{ end }}

  ({{ .Date | dateFormat "2006" }}).
  {{ .Title -}}
  . In

  {{ $count := sub (len .Editors) 1 }}

  {{ range $index, $element := .Editors }}
    {{range split $element.first " " }}
      {{slicestr . 0 1}}.
    {{ end }}
    {{ $element.last }}
    {{ if eq $index $count }}
    {{ else if eq $index (sub $count 1) }}
      &
    {{ else -}}
      ,
    {{ end }}
  {{ end }}

  {{ if gt (len .Editors) 1 }}
    (Eds.)
  {{ else }}
    (Ed.)
  {{ end }}

  <i>{{ .Book }}</i>

  (pp. {{ .Pages }}).

  {{ .Address }}: {{ .Publisher }}.

{{ end }}

<!-- Format for journal articles -->
{{ if eq .Type "journal" }}

  {{ $count := sub (len .Authors) 1 }}

  {{ range $index, $element := .Authors }}
    {{ $element.last }},
    {{range split $element.first " " }}
      {{slicestr . 0 1}}.{{ end }}{{ if eq $index $count }}{{ else if eq $index (sub $count 1) }} & {{ else }},{{ end }}
    {{ end }}

  ({{ .Date | dateFormat "2006" }}).

  {{ .Title }}.

  <i>{{ .Journal }}</i>,

  {{ if .Issue }}
    <i>{{ .Volume }} ({{ .Issue }}), </i>
  {{ else }}
    <i>{{ .Volume }}, </i>
  {{ end }}

  {{ .Pages }}.
{{ end }}

<!-- Format for article in conference proceedings -->
{{ if eq .Type "conference" }}

  {{ $count := sub (len .Authors) 1 }}

  {{ range $index, $element := .Authors }}
    {{ $element.last }},
    {{range split $element.first " " }}
      {{slicestr . 0 1}}.{{ end }}{{ if eq $index $count }}{{ else if eq $index (sub $count 1) }} & {{ else }},{{ end }}
  {{ end }}

  ({{ .Date | dateFormat "2006" }}).

  <i>{{ .Title }}.</i>
  In
  {{ if .Editors }}

    {{ $count := sub (len .Editors) 1 }}

    {{ range $index, $element := .Editors }}
      {{range split $element.first " " }}
        {{slicestr . 0 1}}.
      {{ end }}
      {{ $element.last }}{{ if eq $index $count }}{{ else if eq $index (sub $count 1) }} & {{ else }},{{ end }}
    {{ end }}

    {{ if gt (len .Editors) 1 }}
      (Eds.),
    {{ else }}
      (Ed.),
    {{ end }}
  {{ end }}

  {{ .Conference }}, {{ .Location }} (pp. {{ .Pages }}).

  {{ .Address }}: {{ .Publisher }}.

{{ end }}

<!-- Format for other articles -->
{{ if eq .Type "other" }}

  {{ $count := sub (len .Authors) 1 }}

  {{ range $index, $element := .Authors }}
    {{ $element.last }},
    {{range split $element.first " " }}
      {{slicestr . 0 1}}.{{ end }}{{ if eq $index $count }}{{ else if eq $index (sub $count 1) }} & {{ else }},{{ end }}
    {{ end }}

  ({{ .Date | dateFormat "2006" }}).

  {{ .Title }}.

  In

  {{ if .Editors }}
    {{ $count := sub (len .Editors) 1 }}

    {{ range $index, $element := .Editors }}
      {{range split $element.first " " }}
        {{slicestr . 0 1}}.
      {{ end }}
      {{ $element.last }}{{ if eq $index $count }}{{ else if eq $index (sub $count 1) }} & {{ else }},{{ end }}
    {{ end }}

    {{ if gt (len .Editors) 1 }}
      (Eds.)
    {{ else }}
      (Ed.)
    {{ end }}
  {{ end }}

  <i>{{ .Journal }}</i>,

  {{ if .Issue }}
    <i>{{ .Volume }} ({{ .Issue }}), </i>
  {{ else }}
    <i>{{ .Volume }}, </i>
  {{ end }}

  {{ .Pages }}.
{{ end }}

<!-- Format for patents -->
{{ if eq .Type "patent" }}

  {{ $count := sub (len .Authors) 1 }}

  {{ range $index, $element := .Authors }}
    {{ $element.last }},
    {{range split $element.first " " }}
      {{slicestr . 0 1}}.{{ end }}{{ if eq $index $count }}{{ else if eq $index (sub $count 1) }} & {{ else }},{{ end }}
    {{ end }}

  ({{ .Date | dateFormat "2006" }}).

  <i>{{ .Title }}, {{ .Number }}</i>


  {{ .Address }}: {{ .Publisher }}.

{{ end }}

<!-- Format for patents -->
{{ if eq .Type "thesis" }}

  {{ $count := sub (len .Authors) 1 }}

  {{ range $index, $element := .Authors }}
    {{ $element.last }},
    {{range split $element.first " " }}
      {{slicestr . 0 1}}.{{ end }}{{ if eq $index $count }}{{ else if eq $index (sub $count 1) }} & {{ else }},{{ end }}
    {{ end }}

  ({{ .Date | dateFormat "2006" }}).

  <i>{{ .Title }}</i> ({{ .Book }}).

  {{ .Publisher }}, {{ .Address }}.

{{ end }}
