.masonry-sizer, .masonry-item { width: 48.5%; }

@include breakpoint(small) {
  .masonry-sizer, .masonry-item { width: 100%; }
}

.masonry-grid {
  margin: (_size(element-margin)*1.3) 0 0 0;
}

.masonry-item {
  $gutter: _size(gutter) * 0.5;
  float: left;
  margin-bottom: $gutter;
}

.masonry-gutter-sizer {
  width: 3%;
}

.masonry-item img {
  display: block;
  width: 100%;
}

.masonry-item ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 0;

  li {
    border-top: solid _size(border-width) _palette(border);
    padding: 0.5em 0;

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }
}

.masonry-caption {
  font-style: italic;
  font-size: 0.9em;
  margin: (_size(element-margin)*0.1) (_size(element-margin)*0.2) 0 0;
}

.rounded {
  border-radius: _size(border-radius);
  position: relative;
  overflow:hidden;
}

.corner {
  background: url(corner-mask.svg) no-repeat top left;
  height: 4px;
  position: absolute;
  width: 4px;
  z-index: 1;
}

.topleft {
  left: 0;
  top: 0;
}

.topright {
  right: 0;
  top: 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.bottomright {
  bottom: 0;
  right: 0;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.bottomleft {
  bottom: 0;
  left: 0;
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
