@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.min.css';

@font-face {
    font-family: 'akzidenz-grotesk_bqbold';
    src: url('../fonts/akzidenz/akzidenzgrotesk-bold-webfont.eot');
    src: url('../fonts/akzidenz/akzidenzgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenz/akzidenzgrotesk-bold-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz/akzidenzgrotesk-bold-webfont.woff') format('woff'),
         url('../fonts/akzidenz/akzidenzgrotesk-bold-webfont.ttf') format('truetype'),
         url('../fonts/akzidenz/akzidenzgrotesk-bold-webfont.svg#akzidenz-grotesk_bqbold') format('svg');
}

@font-face {
    font-family: 'akzidenz-grotesk_bqitalic';
    src: url('../fonts/akzidenz/akzidenzgrotesk-italic-webfont.eot');
    src: url('../fonts/akzidenz/akzidenzgrotesk-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenz/akzidenzgrotesk-italic-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz/akzidenzgrotesk-italic-webfont.woff') format('woff'),
         url('../fonts/akzidenz/akzidenzgrotesk-italic-webfont.ttf') format('truetype'),
         url('../fonts/akzidenz/akzidenzgrotesk-italic-webfont.svg#akzidenz-grotesk_bqitalic') format('svg');
}

@font-face {
    font-family: 'akzidenz-grotesk_bqmedium';
    src: url('../fonts/akzidenz/akzidenzgrotesk-medium-webfont.eot');
    src: url('../fonts/akzidenz/akzidenzgrotesk-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenz/akzidenzgrotesk-medium-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz/akzidenzgrotesk-medium-webfont.woff') format('woff'),
         url('../fonts/akzidenz/akzidenzgrotesk-medium-webfont.ttf') format('truetype'),
         url('../fonts/akzidenz/akzidenzgrotesk-medium-webfont.svg#akzidenz-grotesk_bqmedium') format('svg');
}

@font-face {
    font-family: 'akzidenz-grotesk_bqregular';
    src: url('../fonts/akzidenz/akzidenzgrotesk-regular-webfont.eot');
    src: url('../fonts/akzidenz/akzidenzgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akzidenz/akzidenzgrotesk-regular-webfont.woff2') format('woff2'),
         url('../fonts/akzidenz/akzidenzgrotesk-regular-webfont.woff') format('woff'),
         url('../fonts/akzidenz/akzidenzgrotesk-regular-webfont.ttf') format('truetype'),
         url('../fonts/akzidenz/akzidenzgrotesk-regular-webfont.svg#akzidenz-grotesk_bqregular') format('svg');
}

/*
	Phantom by HTML5 UP
	html5up.net | @n33co.
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
		xxsmall: '(max-width: 360px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: (
			gutters: 2em
		),
		breakpoints: (
			medium: (
				grid: (
					gutters: 1.5em
				)
			),
			small: (
				grid: (
					gutters: 1em
				)
			)
		)
	));

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/section';
	@import 'components/icon';
	@import 'components/list';
	@import 'components/form';
	@import 'components/box';
	@import 'components/image';
	@import 'components/table';
	@import 'components/button';
	@import 'components/tiles';
	@import 'components/masonry';
	@import 'components/extralist';

// Layout.

	@import 'layout/header';
	@import 'layout/menu';
	@import 'layout/main';
	@import 'layout/footer';
	@import 'layout/wrapper';
