<li class="mix-item {{ .Type }}">
  <span class="list-header">{{ .Description }} {{ if .Website }}<a href="{{ .Website }}" target="_blank">{{ .Name }}</a>{{ else }}{{ .Name }}{{ end }}</span><br/>
  <div class="list-details">
    {{ if .Date }} <span class="icon style1 fa-calendar"> {{ .Date | dateFormat "Monday, Jan 2, 2006" }}</span> {{ end }}
    {{ if .Duration }} <span class="icon style1 fa-clock-o"> {{ .Duration }}</span> {{ end }}
    <span class="icon style1 fa-home"> {{.Venue }} </span>
    <span class="icon style1 fa-map-marker"> {{.Location }} </span>
  </div>

  {{ if .Image }}

  <a href="{{ .Site.BaseURL }}/images/events/{{ .Image }}" title="{{ .Description }} {{ .Name }}" alt="{{ .Description }} {{ .Name }}" data-fluidbox>
    <img class="center-cropped rounded" src="{{ .Site.BaseURL }}/images/events/{{ .Thumbnail }}"/>
  </a>

  {{ end }}

</li>
