<li class="mix-item {{ .Type }}">
  <span class="list-header">
  <!-- check if a link is stored in the data file -->
  {{if eq (slicestr .Download 0 4) "http"}}
    <a href="{{.Download }}" target="_blank">{{ .Source }}: {{ .Title }}</a>
  {{ else }}
    <a href="{{ .Site.BaseURL }}/downloads/press/{{.Download }}" target="_blank">{{ .Source }}: {{ .Title }}</a>
  {{ end }}
  </span>
  <br/>
  <div class="list-details">
    {{ if .Date }} <span class="icon style1 fa-calendar"> {{ .Date | dateFormat "Monday, Jan 2, 2006" }}</span> {{ end }}

    {{ if eq .Type "audio" }}
      <span class="icon style1 fa-headphones"> Audio</span>
    {{ else if eq .Type "print"}}
      <span class="icon style1 fa-newspaper-o"> Print</span>
    {{ else if eq .Type "video"}}
      <span class="icon style1 fa-video-camera"> Video</span>
    {{ else if eq .Type "online"}}
      <span class="icon style1 fa-cloud"> Online</span>
    {{ end }}

    {{ if .Author }}
      {{ if in .Author "," }}
        <span class="icon style1 fa-users"> {{ .Author }}</span>
      {{ else }}
        <span class="icon style1 fa-user"> {{ .Author }}</span>
      {{ end }}
    {{ end }}

    <span class="icon style1 fa-external-link"> {{ if .Website }} <a href="{{ .Website }}" target="_blank">{{.Source }}</a> {{ else }}{{ .Source }}{{ end }}</span>
  </div>

  {{ if .Image }}
    <img class="center-cropped rounded" src="{{ .Site.BaseURL }}/images/press/{{ .Image }}"/>
  {{ end }}

</li>
